@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic, 100);

body {
	font-size: 16px;
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 300;
}
h1 {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 90;
	font-variant: small-caps;
}
h3 {
	font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
}

.navbar {
	background-color: rgba(255, 255, 255, 0.48);
	border-color: transparent;
	font-variant: small-caps;
}
.navbar li a {
	color: black;
	height: 50px;
	padding-top: auto;
	padding-bottom: auto;
}
.navbar li a:hover {
	color: gray;
}

.spacer {
	margin-top: 70px;
}
.right {
	text-align: right;
}
.center {
	text-align: center;
}
.center-img {
	display: block;
	margin: auto;
}
.center-text {
	text-align: center;
	padding: 0 0 0 1em;
	height: 288px;
}
.block-text {
	margin-top: 10%;
	margin-bottom: auto;
}
.product .img-responsive {
    margin: 0 auto;
}
