<div class="spacer"></div>

<h1 class="center">Class Projects</h1>
<div class="spacer"></div>

<!-- Grid of past projects -->
<div class="row">
	<div class="col-lg-4 col-sm-6 text-center">
		<a ui-sref="">
		    <img class="img-circle center-img" src="http://placehold.it/200x200" alt="">
		</a>
	    <h3>Project Title</h3>
	</div>
	<div class="col-lg-4 col-sm-6 text-center">
		<a ui-sref="">
		    <img class="img-circle center-img" src="http://placehold.it/200x200" alt="">
		</a>
	    <h3>Project Title</h3>
	</div>
	<div class="col-lg-4 col-sm-6 text-center">
		<a ui-sref="">
		    <img class="img-circle center-img" src="http://placehold.it/200x200" alt="">
		</a>
	    <h3>Project Title</h3>
	</div>
	<div class="col-lg-4 col-sm-6 text-center">
		<a ui-sref="">
		    <img class="img-circle center-img" src="http://placehold.it/200x200" alt="">
		</a>
	    <h3>Project Title</h3>
	</div>
</div>