<head>
	<link rel="stylesheet" href="css/projects.css">
</head>

<body>
	<div class="container">
		<div class="spacer"></div>

		<h1 class="center">PAST PROJECTS</h1>
		<div class="spacer"></div>

		<!-- Grid of past projects -->
		<div class="row">
			<div class="col-lg-4 col-sm-6 text-center">
				<a ui-sref="prj1">
				    <img class="img-circle center-img" src="http://placehold.it/200x200" alt="">
			    	<h3>Project ONE</h3>
			    </a>
			</div>
			<div class="col-lg-4 col-sm-6 text-center">
				<a ui-sref="prj2">
				    <img class="img-circle center-img" src="http://placehold.it/200x200" alt="">
				    <h3>Project TWO</h3>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 text-center">
				<a ui-sref="prj3">
				    <img class="img-circle center-img" src="http://placehold.it/200x200" alt="">
				    <h3>Project THREE</h3>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 text-center">
				<a ui-sref="prj4">
				    <img class="img-circle center-img" src="http://placehold.it/200x200" alt="">
				    <h3>Project FOUR</h3>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 text-center">
				<a ui-sref="prj5">
				    <img class="img-circle center-img" src="http://placehold.it/200x200" alt="">
				    <h3>Project FIVE</h3>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 text-center">
				<a ui-sref="prj6">
				    <img class="img-circle center-img" src="http://placehold.it/200x200" alt="">
				    <h3>Project SIX</h3>
				</a>
			</div>
		</div>
	</div>
</body>